@inherits LayoutComponentBase

<div class="h-screen">
    <nav class="h-[70px] w-full flex">
        <h1>ModularMonolith Template</h1>
        <div>

        </div>
    </nav>
    <main>
        @Body
    </main>
</div>