@using Blazored.Modal
@using Blazored.Modal.Services
@inherits LayoutComponentBase
@inject IModalService modalService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    public static IModalService ModalService;
    public static IModalReference ModalReference;

    protected override async Task OnInitializedAsync()
    {
        ModalService = modalService;
    }
}