<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ModularMonolith</title>
    <link rel="stylesheet" href=@($"{TailwindSourceConstant.TailwindOutputPath}") />
</head>
<body class="h-screen grid grid-rows-main">
   <menu>

   </menu>

    <main role="main" class="">
        @RenderBody()
    </main>

    <footer class="">
        <div class="">
            &copy; 2023 - Server - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
