.text_sm {
    font-size: 12px;
    line-height: 16px;
}

.text_normal {
    font-size: 14px;
    line-height: 16px;
}

.text_lg {
    font-size: 16px;
    line-height: 24px;
}

.text_xlg {
    font-size: 18px;
    line-height: 28px;
}

.text_2xlg {
    font-size: 24px;
    line-height: 28px;
}

.text_3xlg {
    font-size: 28px;
    line-height: 32px;
}


@media (min-width: 400px){
    .text_sm {
        font-size: 13px; 
        line-height: 18px;
    }

    .text_normal {
        font-size: 15px;
        line-height: 18px;
    }

    .text_lg {
        font-size: 17px;
        line-height: 24px;
    }

    .text_xlg {
        font-size: 19px;
        line-height: 28px;
    }

    .text_2xlg {
        font-size: 26px;
        line-height: 30px;
    }

    .text_3xlg {
        font-size: 32px;
        line-height: 34px;
    }
}

@media (min-width: 768px) {
    .text_sm {
        font-size: 14px;
        line-height: 18px;
    }

    .text_normal {
        font-size: 16px;
        line-height: 20px;
    }

    .text_lg {
        font-size: 18px;
        line-height: 25px;
    }

    .text_xlg {
        font-size: 20px;
        line-height: 28px;
    }

    .text_2xlg {
        font-size: 30px;
        line-height: 32px;
    }

    .text_3xlg {
        font-size: 36px;
        line-height: 34px;
    }
}

@media (min-width: 1024px) {
    .text_sm {
        font-size: 14px;
        line-height: 18px;
    }

    .text_normal {
        font-size: 16px;
        line-height: 22px;
    }

    .text_lg {
        font-size: 18px;
        line-height: 25px;
    }

    .text_xlg {
        font-size: 24px;
        line-height: 30px;
    }

    .text_2xlg {
        font-size: 34px;
        line-height: 40px;
    }

    .text_3xlg {
        font-size: 42px;
        line-height: 44px;
    }
}