@using Shared.Client.Components.Modals
@inherits LayoutComponentBase
@inject IModalService modalService

<div class="h-screen w-screen text-primary-500">
    <nav class="ml-auto mr-auto flex h-[65px] w-full max-w-[1400px] flex-row content-start items-end justify-between p-5 pb-0">
        <div>
            <a id="start" href="/">
                <h1 class="text-4xl text-primary-900">SaaS template<span class="text-[46px]"></span></h1>
            </a>
        </div>
        <div class="flex flex-row gap-x-3">
            <NavLink href="about" ActiveClass="text-primary-900">
                <a href="/About">
                    <span class="cursor-pointer rounded p-1 text-xl hover:bg-primary-100">About</span>
                </a>
            </NavLink>
            <button @onclick="() => OpenSignUpModal()">
                <span class="border-1 cursor-pointer rounded border border-white p-1 text-xl hover:bg-primary-100">Sign in</span>
            </button>
        </div>
    </nav>

    <main class="h-[calc(100%-65px)] ml-auto mr-auto w-full max-w-[1400px] overflow-y-auto p-5">
        @Body
    </main>
</div>

@code {
    private IModalReference modalReference;

    public void OpenSignUpModal()
    {
        var modelParameters = new ModalParameters
        {
            { nameof(SignInModal.CancelRequestedCallback), new EventCallback(this, () => modalReference.Close()) },
        };

        modalReference = modalService.Show<SignInModal>(string.Empty, modelParameters, DefaultModalOptions.Modal);
    }
}